body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}

.header {
    box-sizing: border-box;
}

.header {
    text-align: center;
    background-color: #1F2937;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 250;
}

h1 {
    color: #e5e7eb;
    font-size: 48px;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

p {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    color: gray;
    margin-top: 20px;
}

img {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside {
    margin-top: 200px;
    position: fixed;
    margin-left: 1300px;
}

.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    top: 0;
}

.NavBarContainer {
    margin-left: 4rem;
}

.MobileNavBar {
    display: none;
}

.PageLink {
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-wrap: wrap;
}

.PageLink:hover {
    border-bottom: 2px solid white;
}

.SourceCodeLink {
    font-size: 16px;
    color: blue;
}

.SourceCodeLink:visited {
    color: purple;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.ContentContainer {
    display: flex;
    justify-content: center;
}

.ContentSection {
    border-bottom: 1px solid gray;
}

.Example {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.ExampleTitle {
    align-self:flex-start;
}

.Calculator {
    margin-bottom: 50px;
}

.Stacks {
    padding-bottom: 40px;
    border-bottom: 1px transparent;
}

.Footer {
    background-color: #1F2937;
    bottom: 0;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#134b96, #1F2937);
}

.anchor {
    display: block;
    height: 115px;
    margin-top: -115px;
    visibility: hidden;
}

.PageNav {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.PageNavTitle {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.AnchorLinks {
    display: flex;
    flex-direction: column;
    border-left: solid 1px gray;
    padding: 10px;
    gap: 15px;
}

.Anchor {
    color: gray;
    font-size: 14px;
    margin-left: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
}

/* Dropdown Button */
.dropbtn {
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #1F2937;
    background-image: linear-gradient(#1F2937,#134b96);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: flex;
    flex-direction: column;
    right: 0px;
}

/* Landing page css */

.IntroTile {
    display: flex;
    flex-direction: row;
    background-color: #e5e7eb;
    padding-top: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 850px;
    padding: 40px;
    margin: 40px;
    box-shadow: 0px 0px 5px 2px gray;
    border: solid 1px gray;
    border-radius: 0px;
}

.IntroTile h1 {
    font-size: 36px;
}
.IntroTile p {
    font-size: 36px;
    margin-bottom: -20px;
}

.IntroTileLeft {
    max-width: 500px;
}

.IntroTileLeft p {
    padding: 20px;
    padding-top: 0px;
    text-align: justify;
    color: gray;
    font-size: 16px;
    margin-bottom: 10px;
}

.SectionTile {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.SectionTileContainer {
    background-color: #e5e7eb;
    text-align: center;
}
.TopicHeading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
}
.TopicTile {
    display: flex;
    width: 200px;
    height: 200px;
    border: solid #3882f6;
    border-radius: 10px;
    transition: transform 0.3s;
    border: solid 4px #3882f6;
    box-shadow: 0px 1px 3px 2px gray;
}

.TopicTile img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.TopicTile:hover {
    transform: scale(1.1); /* Scale up to 110% when hovered */
    z-index: 999; /* Ensure it appears on top of other content */
}

.TopicContainer p {
    max-width: 200px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    height: 50px;
}

.IntroTileLeft p{
    color: gray;
    line-height: 30px;
    text-align: justify;
    max-width: 650px;
    margin-top: -10px;
    font-weight: bold;
}
.IntroTileLeft li{
    color: gray;
    line-height: 30px;
}

.Tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Content {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    margin-bottom: 40px;
}
body {
    background: rgb(243, 243, 243);
}

header {
    background-image: linear-gradient(#1F2937,#134b96);
}

.Title {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Title a {
    font-size: 48px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {

    header {
        display: none;
    }

    img {
        max-width: 300px;
        padding-right: 20px;
        padding-left: 20px;
    }
    h1 {
        font-size: 14px;
        margin-left: 10px;
    }

    h3 {
        padding-right: 20px;
        padding-left: 20px;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        padding-right: 20px;
        padding-left: 20px;
    }

    .NavBarContainer {
        margin-left: 0;
        margin-right: 0;
    }

    .PageLink {
        font-size: 10px;
    }

    .Content {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 300px;
    }

    .AnchorLinks {
        display: none; /* hide on mobile */
    }

    .NavBar {
        display: none;
    }

    .MobileNavBar {
        display: flex;
        background-color: #1F2937;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        background-image: linear-gradient(#1F2937,#134b96);
    }

    .Intro {
        margin-left: -20px;
        margin-right: -20px;
    }

    .ContentContainer {
        margin-top: 50px;
    }

    .IntroTile {
        flex-direction: column;
    }

    .TopicTile {
        justify-content: center;
    }

    .SectionTileContainer {
        align-items: center;
        justify-content: center;
    }

    .TopicHeading {
        font-size: 24px;
    }

    .TopicContainer {
        justify-content: center;
        align-items: center;
        max-width: 200px;
    }

}

